*~
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
*.o
libtool
ltmain.sh
m4/
missing
stamp-h1
DEADJOE
test/
test
clr_power
*.tar.gz
compile
generated.c
