[Unit]
Description=Clear Linux Project for Intel Architecture power tweaks
After=sysinit.target
Condition=!container

[Service]
Type=oneshot
ExecStart=/usr/bin/clr_power
