[Unit]
Description= Clear Linux Project for Intel Architecture power weaks
DefaultDependencies=no
After=sysinit.target
ConditionVirtualization=vm

[Service]
Type=oneshot
ExecStart=/usr/bin/clr_power --vm

[Install]
WantedBy=multi-user.target
