[Unit]
Description=Clear Linux Project for Intel Architecture power tweaks
After=sysinit.target
ConditionVirtualization=!container

[Service]
Type=simple
ExecStart=/usr/bin/clr_power
